@{
    ViewData["Title"] = "Finalizar compra";
}

<div class="container">
    <div class="py-5 text-center">
        <h2>Checkout</h2>
        <p class="lead">Finalize sua compra.</p>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Seu carrinho</span>
                <span class="badge badge-secondary badge-pill">@ViewBag.GroupedCartItems.Count</span>
            </h4>
            <ul class="list-group mb-3">

                @if (ViewBag.GroupedCartItems != null)
                {
                    @if (ViewBag.GroupedCartItems.Count != 0)
                    {
                        @foreach (var item in ViewBag.GroupedCartItems)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">@item.GameName</h6>
                                    <small class="text-muted">Quantidade <strong>@item.Quantity</strong></small>
                                </div>
                                <span class="text-muted">R$ @item.Subtotal.ToString("0.00")</span>
                            </li>
                        }               }          }


                @if (ViewBag.desconto != null)
                {
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Código de promoção</h6>
                            <small>DEZCONTO</small>
                        </div>
                        <span class="text-success">-R @ViewBag.desconto.ToString("0.00")</span>
                    </li>
                }
                else
                {
                    <li class="list-group-item d-flex justify-content-between bg-light text-danger"><strong>CÓDIGO INVÁLIDO</strong></li>
                }

                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (BRL)</span>
                    <strong>R$ @ViewBag.Total.ToString("0.00")</strong>
                </li>

            </ul>

            <form class="form-inline my-2 my-md-0" form method="post" asp-controller="CheckOut" asp-action="ApplyPromotionalCode"
                  class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Código promocional" name="code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-white" style="background-color: #0d051a; border-color: #0d051a; color:#FFFFFF"> Resgatar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Endereço de cobrança</h4>

            <form class="needs-validation" form method="post" asp-controller="CheckOut" asp-action="FinishCheckOut">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome</label>
                        <input name="name" type="text" class="form-control" id="primeiroNome" placeholder="" value="" required="required">
                        <div class="invalid-feedback">
                            É obrigatório inserir um nome válido.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="sobrenome">Sobrenome</label>
                        <input name="family_name" type="text" class="form-control" id="sobrenome" placeholder="" value="" required="required">
                        <div class="invalid-feedback">
                            É obrigatório inserir um sobre nome válido.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email </label>
                    <input name="email" type="email" class="form-control" id="email" required="required">
                    <div class="invalid-feedback">
                        Por favor, insira um endereço de e-mail válido, para atualizações de entrega.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">CPF </label>
                    <input name="cpf" type="number" class="form-control" id="email" required="required">
                    <div class="invalid-feedback">
                        Por favor, insira um endereço de CPF válido, para atualizações de entrega.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="endereco">Endereço</label>
                    <input name="address" type="text" class="form-control" id="endereco" placeholder="Rua dos bobos, nº 0" required="required">
                    <div class="invalid-feedback">
                        Por favor, insira seu endereço de entrega.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="endereco2">Endereço 2 <span class="text-muted">(Opcional)</span></label>
                    <input name="address_complement" type="text" class="form-control" id="endereco2" placeholder="Apartamento ou casa">
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="pais">País</label>
                        <select name="country" class="custom-select d-block w-100" id="pais" required="required">
                            <option value="">Escolha...</option>
                            <option>Brasil</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, escolha um país válido.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="estado">Estado</label>
                        <select name="state" class="custom-select d-block w-100" id="estado" required="required">
                            <option value="">Escolha...</option>
                            <option>São Paulo</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, insira um estado válido.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cep">CEP</label>
                        <input name="cep" type="text" class="form-control" id="cep" placeholder="" required="required">
                        <div class="invalid-feedback">
                            É obrigatório inserir um CEP.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="mesmo-endereco">
                    <label class="custom-control-label" for="mesmo-endereco">Endereço de entrega é o mesmo que o de cobrança.</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="salvar-info">
                    <label class="custom-control-label" for="salvar-info">Lembrar desta informação, na próxima vez.</label>
                </div>
                <hr class="mb-4">

                <h4 class="mb-3">Pagamento</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input name="type_payment" id="credito" name="paymentMethod" type="radio" class="custom-control-input" checked required="required">
                        <label class="custom-control-label" for="credito">Cartão de crédito</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input name="type_payment" id="debito" name="paymentMethod" type="radio" class="custom-control-input" required="required">
                        <label class="custom-control-label" for="debito">Cartão de débito</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input name="type_payment" id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="required">
                        <label class="custom-control-label" for="paypal">PayPal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-nome">Nome no cartão</label>
                        <input name="card_name" type="text" class="form-control" id="cc-nome" placeholder="" required="required">
                        <small class="text-muted">Nome completo, como mostrado no cartão.</small>
                        <div class="invalid-feedback">
                            O nome que está no cartão é obrigatório.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-numero">Número do cartão de crédito</label>
                        <input name="card_number" type="text" class="form-control" id="cc-numero" placeholder="" required="required">
                        <div class="invalid-feedback">
                            O número do cartão de crédito é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiracao">Data de expiração</label>
                        <input name="card_date_expiration" type="text" class="form-control" id="cc-expiracao" placeholder="" required="required">
                        <div class="invalid-feedback">
                            Data de expiração é obrigatória.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input name="card_cvv" type="text" class="form-control" id="cc-cvv" placeholder="" required="required">
                        <div class="invalid-feedback">
                            Código de segurança é obrigatório.
                        </div>
                    </div>
                </div>

                <input name="code" value="N" />

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue o checkout</button>
            </form>
        </div>
    </div>
</div>


